
/* DEFINITIONS */

$primary-font: 'Raleway';
$secondary-font: 'Open Sans';

$primary-color: #035E7B;
$secondary-color: #5167e1;
$dark-color : #4c4c4c;
$text-color: #515151;

$primary-background-color: $primary-color;
$secondary-background-color: #EEE;
$bar-background-color: #7BCACE;

$default-margin: 15px;
$default-margin-mobile: 5px;

$link-color: #fff;
$link-hover-color: #E3E7AF;
